* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}
:root {
  --bg: hsl(0, 0%, 100%);
  --gameBg: hsl(227, 47%, 96%);
  --txtColorLight: hsl(230, 17%, 50%);
  --txtColor: hsl(230, 17%, 14%);
}
body {
  background: var(--bg);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}
#header {
  width: 50vmin;
  height: 10vmin;
  display: flex;
  cursor: pointer;
  justify-content: space-evenly;
  flex-direction: column;
}
#header h1 {
  text-align: center;
  color: var(--txtColor);
  font-size: 6vmin;
  text-transform: uppercase;
  font-family: "New Tegomin", serif;
}
#game-board {
  background: var(--gameBg);
  background-size: 30px 30px;
  width: 50vmin;
  height: 50vmin;
  display: grid;
  grid-template-rows: repeat(21, 1fr);
  border-radius: 2%;
  grid-template-columns: repeat(21, 1fr);
}
.snake {
  background-color: hsl(113, 100%, 30%);
  border-left: 1px solid transparent;
  border-top: 1px solid transparent;
}
.snake:first-of-type {
  background-color: hsl(113, 100%, 10%);
  border-radius: 20%;
  border: none;
}
.food {
  background-image: url("apple.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}
.reset-page {
  position: absolute;
  display: none;
  background-color: var(--gameBg);
  top: calc(55% - 25vmin);
  left: calc(50% - 25vmin);
  font-family: "Roboto", sans-serif;
  border-radius: 2%;
  width: 50vmin;
  height: 50vmin;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
#reset {
  width: 30%;
  height: 15%;
  cursor: pointer;
  border: 0;
  outline: none;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
  border-radius: 5%;
  background-color: #f43;
}
.how2play {
  position: absolute;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  bottom: 0;
  right: 5%;
}
.how2play svg path {
  fill: var(--txtColor);
}
.how2play h4 {
  font-size: 1.2rem;
  text-transform: capitalize;
  color: var(--txtColorLight);
}
@media (max-width: 600px) {
  .how2play {
    display: none;
  }
}
.home {
  text-decoration: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 10px 20px;
  background: #42f;
  color: #fff;
  border-radius: 10px 10px 0 0;
}
.home:hover {
  background: #32f;
}
