* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #333;
  color: #222;
  font-family: 'Lato', sans-serif;
  margin: 0;
  overflow-x: hidden;
}

.container {
  background-color: #fafafa;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
  padding: 50px;
  width: 100vw;
  min-height: 100vh;
}

.circle-container {
  position: fixed;
  top: -90px;
  left: -90px;
}

.container.show-nav {
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

.circle {
  background-color: #090f68;
  border-radius: 50%;
  position: relative;
  height: 200px;
  width: 200px;
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}

.container.show-nav .circle {
  -webkit-transform: rotate(-70deg);
          transform: rotate(-70deg);
}

.circle button {
  background: transparent;
  border: 0;
  color: #fff;
  font-size: 26px;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
}

.circle button:focus {
  outline: none;
}

.circle button#open {
  left: 60%;
}

.circle button#close {
  top: 60%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

nav {
  color: #fff;
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
}

nav ul {
  list-style-type: none;
  padding-left: 30px;
}

nav ul li {
  margin: 40px 0;
  text-transform: uppercase;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.28, 0.27, 0.65, 1.25);
  transition: -webkit-transform 0.4s cubic-bezier(0.28, 0.27, 0.65, 1.25);
  transition: transform 0.4s cubic-bezier(0.28, 0.27, 0.65, 1.25);
  transition: transform 0.4s cubic-bezier(0.28, 0.27, 0.65, 1.25), -webkit-transform 0.4s cubic-bezier(0.28, 0.27, 0.65, 1.25);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.container.show-nav + nav li {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

nav ul li i {
  font-size: 20px;
  margin-right: 10px;
}

nav ul li + li {
  margin-left: 15px;
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
}

nav ul li + li + li {
  margin-left: 30px;
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
}

.content {
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px auto;
}

.content h1 {
  margin: 0;
}

.content small {
  color: #555;
  font-style: italic;
}

.content p {
  color: #333;
  line-height: 1.5;
}

.content img {
  max-width: 100%;
}

.container img {
  border-radius: 20px;
}
/*# sourceMappingURL=style.css.map */