*{
  margin: 0;
  border: 0;
  outline: none;
  background: none;
  font-family: "Arvo", cursive;
}
body {
  text-align: center;
  background-color: #E4E7F1;
  height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 5rem;
  color: #111518;
}

.set {
  margin: 0 auto;
  height: 100%;
  background: url("images/drum.png") no-repeat;
  background-position: center bottom;
}

.drum {
  display: inline-block;
  color: black;
  font-size: 3rem;
  position: absolute;
  font-family: "Arvo", cursive;
  width: 150px;
  height: 150px;
  text-align: center;
  cursor: pointer;
}
#w{
  top: 40%;
  left: 32%;
}
#a{
  top: 40%;
  right: 31%;
}
#s{
  top: 66%;
  left: 32%;
}
#d{
  top: 66%;
  right: 31%;
}
#j{
  top: 65%;
  left: 45%;
}
#k{
  top: 64%;
  right: 24%;
}
#l{
  top: 20%;
  left: 25%;
}