:root {
  --blade-hue: 120;
  --blade-lightness: 50%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  place-items: center;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
}
.lightsaber {
  margin-top: 35vh;
  grid-column: 1 / -1;
  position: relative;
}

#on-off {
  position: absolute;
  width: 0;
  display: none;
  height: 0;
}

.hilt {
  cursor: pointer;
  display: block;
  width: 0.75rem;
  height: 7rem;
  background-color: red;
  border-radius: 0 0 4px 4px;
  background-image: linear-gradient(
    silver 0 10px,
    hsl(39, 75%, 50%) 0 14px,
    silver 0 15px,
    black 0 20px,
    silver 0 22px,
    black 0 25px,
    silver 0 27px,
    black 0 30px,
    silver 0 32px,
    black 0 35px,
    silver 0 37px,
    black 0 40px,
    silver 0 42px,
    black 0 45px,
    silver 0 47px,
    black 0 50px,
    silver 0 60px,
    hsl(39, 75%, 50%) 60px 80px,
    silver 0 100%
  );
}

.blade {
  position: absolute;
  background: white;
  height: 350%;
  width: 100%;
  bottom: 100%;
  border-radius: 100vw 100vw 0 0;
  box-shadow: inset 0 0 4px
      hsl(var(--blade-hue) 100% var(--blade-lightness) / 1),
    0 0 1em hsl(var(--blade-hue) 100% var(--blade-lightness) / 0.8),
    0 0 1.5em hsl(var(--blade-hue) 100% var(--blade-lightness) / 0.7),
    0 0 2em hsl(var(--blade-hue) 100% var(--blade-lightness) / 0.5),
    0 0 3em hsl(var(--blade-hue) 100% var(--blade-lightness) / 0.3),
    0 0 5em hsl(var(--blade-hue) 100% var(--blade-lightness) / 0.2);

  transition: transform 50ms ease-out;
  transform-origin: bottom;
}

.blade::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: hsl(var(--blade-hue) 100% var(--blade-lightness));
  border-radius: inherit;
  filter: blur(0.5em);
  opacity: 1;
  animation: pulse linear 5s infinite;
}
.blade::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: white;
  border-radius: inherit;
  z-index: 10;
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}


#on-off:not(:checked) + .blade {
  transform: scaleY(0);
}

#on-off:checked + .blade {
  transform: scaleY(1);
}

embed {
  display: none;
  position: absolute;
  opacity: 0;
  pointer-events: 0;
  width: 0;
  height: 0;
}


.home {
  text-decoration: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 10px 20px;
  background: #42f;
  color: #fff;
  border-radius: 10px 10px 0 0;
}
.home:hover {
  background: #32f;
}