body{
    background: #3b3b3b;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
section{
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    box-shadow: 5px 5px 50px #000;
    height: 90vh;
    justify-content: center;
    margin: 2.5% auto;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    width: 80%;
}
p{
    font-family: 'Permanent Marker', cursive;
    font-size: 4em;
    text-align: center;
    color: #fff;
}