* {
  font-family: "DotGothic16", sans-serif;
}
body {
  background: linear-gradient(to left, #f0f4ef 50%, #e9eceb 50%);
  overflow: hidden;
  height: 100vh;
}
.grid-container {
  display: grid;
  height: 100%;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "title title"
    "dice1 dice2"
    "button button";
}
#title {
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
  margin: 5% auto 0;
  grid-area: title;
}
.dice {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#dice1 {
  grid-area: dice1;
}
.player {
  cursor: pointer;
  font-size: 1.4em;
  outline: none;
}
#dice2 {
  grid-area: dice2;
}
#img1, #img2{
  max-width: 35%;
}
#jogar {
  border: 0;
  border-radius: 50px;
  background-color: #ff6666;
  color: #fff;
  cursor: pointer;
  font-size: 1.5em;
  grid-area: button;
  text-align: center;
  text-transform: uppercase;
  height: 25%;
  margin: auto;
  width: 10%;
}
#jogar:hover {
  background-color: #f60000;
}
#jogar:focus {
  outline: none;
}