:root {
  --pink: hsl(322, 100%, 66%);
  --lightPink: hsl(321, 100%, 78%);
  --lightRed: hsl(0, 100%, 63%);
  --veryDarkCyan: hsl(192, 100%, 9%);
  --veryPaleBlue: hsl(207, 100%, 98%);
}
* {
  border: 0;
  background: transparent;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  outline: 0;
  padding: 0;
  text-decoration: none;
}
body {
  background: #fff;
  width: 100%;
}
.container {
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
}
/* Navigation Bar */
#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}
#nav button {
  border: 1px solid var(--lightPink);
  border-radius: 20px;
  box-shadow: 0px 0px 3px var(--lightPink);
  color: var(--lightPink);
  cursor: pointer;
  padding: 5px 20px;
  transition: 100ms ease;
}
#nav button:hover {
  background-color: var(--lightPink);
  color: var(--veryPaleBlue);
}
#nav img {
  max-width: 180px;
}
/* Hero page */
#hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 80px;
}
#hero h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  text-align: center;
}
#hero p {
  padding: 10px 0;
  text-align: center;
  width: 45%;
}
#hero img {
  margin: 5% auto;
  max-width: 750px;
}
#hero div {
  align-items: center;
  color: #999;
  display: inherit;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 70%;
}
#hero div #span1,
#hero div #span2 {
  font-weight: 600;
  color: var(--veryDarkCyan);
  font-size: 4em;
  position: relative;
}
#hero div #span1::before,
#hero div #span2::before {
  content: "";
  display: block;
  height: 40px;
  left: 0;
  position: absolute;
  top: -30px;
  width: 50px;
}
#hero div #span1::before {
  background: url("images/icon-communities.svg") no-repeat;
}
#hero div #span2::before {
  background: url("images/icon-messages.svg") no-repeat;
}
/*All*/
.panel {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  width: 100%;
  z-index: 1;
}
.panel::before {
  content: " ";
  display: block;
  position: absolute;
  bottom: 85%;
  left: 0;
  height: 200px;
  width: 100%;
  z-index: 0;
}
.panel::after {
  content: " ";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  height: 200px;
  width: 100%;
  z-index: 0;
}
.button {
  background: var(--lightPink);
  border-radius: 20px;
  border: 1px solid var(--lightPink);
  box-shadow: 0px 0px 1px var(--lightPink);
  color: var(--veryPaleBlue);
  cursor: pointer;
  margin: 20px auto;
  padding: 10px 45px;
}
.button:hover {
  background: var(--veryPaleBlue);
  color: var(--lightPink);
}
/* Grow page */
#grow {
  background: var(--veryPaleBlue) no-repeat;
  margin: 5% auto;
  flex-wrap: wrap-reverse;
}
#grow * {
  flex: 0 1 500px;
}
#grow::before {
  background: url("images/bg-section-top-desktop-1.svg") no-repeat;
}
#grow::after {
  background: url("images/bg-section-bottom-desktop-1.svg") no-repeat;
}
#grow div {
  width: 30%;
  color: rgb(77, 76, 76);
}
#grow div h1 {
  color: var(--veryDarkCyan);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2em;
  margin: 5% auto;
}
#grow img {
  max-width: 35%;
  z-index: 1;
}
/*Flowing page*/
#flowing {
  flex-wrap: wrap;
  margin: 15% auto;
}
#flowing * {
  flex: 0 1 500px;
}
#flowing div {
  width: 30%;
  color: rgb(77, 76, 76);
}
#flowing div h1 {
  color: var(--veryDarkCyan);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2em;
  margin: 5% auto;
}
#flowing img {
  max-width: 35%;
  z-index: 1;
}
/**/

/* user page */
#user {
  background: var(--veryPaleBlue) no-repeat;
  flex-wrap: wrap-reverse;
  margin: 5% auto;
}
#user * {
  flex: 0 1 500px;
}
#user::before {
  background: url("images/bg-section-top-desktop-2.svg") no-repeat;
}
#user::after {
  background: url("images/bg-section-bottom-desktop-2.svg") no-repeat;
}
#user div {
  width: 30%;
  color: rgb(77, 76, 76);
}
#user div h1 {
  color: var(--veryDarkCyan);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2em;
  margin: 5% auto;
}
#user img {
  max-width: 35%;
  z-index: 1;
}
/*Community page*/
#community {
  width: 100%;
  height: 350px;
  margin: 10% auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#community h1 {
  font-family: "Poppins", sans-serif;
  color: var(--veryDarkCyan);
  font-size: 2rem;
}
/*Form page*/
#form {
  background: var(--veryDarkCyan);
  width: 100%;
  position: relative;
  padding: 100px 0;
  margin: 15% auto 0;
  flex-wrap: wrap;
  color: var(--veryPaleBlue);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#form > * {
  flex: 0 1 30%;
}
#form::before {
  background: url("images/bg-footer-top-desktop.svg") no-repeat;
  content: " ";
  display: block;
  position: absolute;
  top: -150px;
  left: 0;
  height: 200px;
  width: 100%;
}
#about {
  display: flex;
  align-items: flex-start;
  padding: 0 10%;
  justify-content: space-evenly;
  flex-direction: column;
  height: 200px;
}
#about img {
  max-width: 150px;
  filter: invert(1) brightness(200%) grayscale(1);
}
#about a {
  color: #fff;
}
#newsletter {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 0 10%;
  flex-direction: column;
  height: 200px;
}
#newsletter div {
  width: 100%;
  height: 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
#newsletter input {
  background-color: #fff;
  border-radius: 10px;
  width: 49%;
  flex: 1 0 40%;
  margin: 0 3% 0 1%;
  padding: 10px;
}
#newsletter button {
  background: var(--pink);
  border-radius: 10px;
  border: 1px solid var(--pink);
  box-shadow: 0px 0px 1px var(--pink);
  color: var(--veryPaleBlue);
  cursor: pointer;
  flex: 1 0 20%;
  margin: 0 1% 0 3%;
  margin: 20px auto;
  padding: 10px 10%;
}
.attribution {
  position: absolute;
  color: var(--veryPaleBlue);
  bottom: 1%;
}
.attribution a {
  text-decoration: none;
  color: #04d8fd;
}
/*Media 2 Cell*/
@media (max-width: 500px) {
  .attribution {
    display: none;
  }
  .container {
    max-width: 100%;
  }
  /*Navigation*/
  #nav {
    padding: 20px 10px;
  }
  #nav img {
    max-width: 150px;
  }
  /*Hero page*/
  #hero {
    padding: 140px 15px;
  }
  #hero * {
    margin: 5% auto;
  }
  #hero p {
    width: 100%;
  }
  #hero button {
    padding: 10px 60px;
  }
  #hero img {
    max-width: 350px;
  }
  #hero div p {
    margin: 20% auto;
  }
  #hero div #message {
    color: var(--veryDarkCyan);
    font-size: 3.5em;
    position: relative;
  }
  /*Grow page*/
  #grow div * {
    padding: 0 2%;
  }
  #grow::before {
    background: url("images/bg-section-top-mobile-1.svg") no-repeat;
    background-size: cover;
    height: 150px;
    bottom: 100%;
  }
  #grow::after {
    background: url("images/bg-section-bottom-mobile-1.svg") no-repeat;
    background-size: cover;
    height: 150px;
  }
  /*Flowing page*/
  #flowing div * {
    padding: 0 2%;
  }

  /*user page*/
  #user {
    margin: 40% auto 0;
  }
  #user div * {
    padding: 0 2%;
  }
  #user::before {
    background: url("images/bg-section-top-mobile-2.svg") no-repeat;
    background-size: cover;
    height: 100px;
    bottom: 100%;
  }
  #user::after {
    background: url("images/bg-section-bottom-mobile-2.svg") no-repeat;
    background-size: cover;
    height: 150px;
  }
  /*Community pages*/
  #community h1 {
    font-size: 1.2rem;
  }
  /*Form*/
  #form::before {
    background: url("images/bg-footer-top-mobile.svg") no-repeat;
    top: -8%;
  }
  #newsletter {
    display: none;
  }
}
.home {
  text-decoration: none;
  position: absolute;
  bottom: 50%;
  left: -7%;
  transform: translate(0, 50%);
  padding: 10px 20px;
  background: #42f;
  color: #fff;
  border-radius: 0 10px 10px 0;
  transition: 1s;
}
.home:hover {
  background: #52f;
  left: 0;
}
