body{
    background: #f7f8f3;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.grid-container{
    background: url('background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    height: 100%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "main main main main"
        "utilities utilities utilities utilities"
        "utilities utilities utilities utilities";
    width: 70%;
}
.main { 
    grid-area: main;
} 
/*---------------------------------------------- EVERY BALL ----------------------------------------------*/
@keyframes glow-red{
    0%,
    100%{
        box-shadow: none;
    }
    50%{
        box-shadow: 0px 0px 50px 0px rgba(245,4,0,0.75);
    }
}
@keyframes glow-orange{
    0%,
    100%{
        box-shadow: none;
    }
    50%{
        box-shadow: 0px 0px 50px 0px #FF5714;
    }
}
@keyframes glow-yellow{
    0%,
    100%{
        box-shadow: none;
    }
    50%{
        box-shadow: 0px 0px 50px 0px #F7BF26;
    }
}
@keyframes glow-green{
    0%,
    100%{
        box-shadow: none;
    }
    50%{
        box-shadow: 0px 0px 50px 0px #6FCD3C;
    }
}
@keyframes glow-blue{
    0%,
    100%{
        box-shadow: none;
    }
    50%{
        box-shadow: 0px 0px 50px 0px #2AA3F4;
    }
}
@keyframes glow-darkBlue{
    0%,
    100%{
        box-shadow: none;
    }
    50%{
        box-shadow: 0px 0px 50px 0px #0634DB;
    }
}

.circle {
    position: absolute;
    border-radius: 50%;
    transition: 1s all ease;
} 
#orange::before, #yellow::before, #blue::before, #darkBlue::before {
    content: '';
    border-radius: 50px;
    background: #876e52;
    display: block;
    left: 35.45%;
    height: 13%;
    top: -7%;
    position: absolute;
    width: 26%;
}
#red::before, #green::before{
    content: '';
    border-radius: 50px;
    background: #a8b5ca;
    display: block;
    left: 35.45%;
    height: 13%;
    top: -7%;
    position: absolute;
    width: 26%;
} 
/* ---------------------------------------------- RED BALL ----------------------------------------------*/

#red{ 
    top: 29%;
    left: 17%;
    width: 6.5%;
    height: 13%;
    background: #737574;
}
/* ---------------------------------------------- ORANGE BALL ----------------------------------------------*/

#orange{ 
    top: 27.5%;
    left: 26.7%;
    width: 4%;
    height: 8%;
    background: #737574;
}
/* ---------------------------------------------- YELLOW BALL ----------------------------------------------*/

#yellow{ 
    top: 22%;
    left: 68.55%;
    width: 7.5%;
    height: 15%;
    background: #737574;
}
/* ---------------------------------------------- BLUE BALL ----------------------------------------------*/
#blue{ 
    top: 18.5%;
    left: 21.7%;
    width: 6%;
    height: 12%;
    background: #737574;
}
/* ---------------------------------------- DARK BLUE BALL ----------------------------------------------*/
#darkBlue{ 
    top: 17%;
    left: 75.85%;
    width: 6%;
    height: 12%;
    background: #737574;
}
/* ----------------------------------------- GREEN BALL ----------------------------------------------*/
#green{ 
    top: 34.8%;
    left: 73.7%;
    width: 6%;
    height: 12%;
    background: #737574;
}

/*---------------------------------------------- UTILITIES ----------------------------------------------*/
.utilities {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-area: utilities;
}
#title { 
    font-size: 3em;
    font-family: 'Akaya Kanadaka', cursive;
    grid-area: 1 / 1 / 2 / 5;
    text-transform: uppercase;
    text-align: center;
    color: #737574;
}
#on, #off { 
    border: 1px solid #232424;
    border-radius: 50%;
    color: #232424;
    cursor: pointer;
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Akaya Kanadaka', cursive;
    position: absolute;
    padding: 1em;
    top: 62%;

}
#on:hover, #off:hover{
    color: #fff;
    background: #232424;
    transition: 0.5s;
}
#on {
    left: 25%;
}
#off { 
    left: 40%;
}
#labelSpeed {
    color: #232424;
    font-size: 1.4em;
    font-family: 'Akaya Kanadaka', cursive;
    grid-area: 2 / 3 / 3 / 4;
    text-align: center;
    text-transform: uppercase;
}
#inputSpeed { 
    color: #232424;
    background: #F5F5F5;
    border: 0.6px solid #232424;
    border-radius: 15px;
    font-size: 1em;
    grid-area: 2 / 4 / 3 / 5;
    height: fit-content; 
    padding: 3px 20px;
    width: 20%;
}
#inputSpeed:focus{
    outline: none;
}
#autoria{
    cursor: pointer;
    font-size: 0.7em;
    color: #232424;
    top: 95%;
    left: 89%;
    position: absolute;
    text-transform: uppercase;
    text-decoration: 0;
}