* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #201e1f;
  min-height: 100vh;
  a {
    position: relative;
    width: 180px;
    color: #fff;
    height: 60px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 60px;
    font-size: 2rem;

    transition: 0.5s;
    &:hover {
      background: #ec0b36 url(pixel.png);
      transition-delay: 0.8s;
      background-size: 180px;
      animation: animate 0.8s steps(8) forwards;
    }
  }
}
@keyframes animate {
  to {
    background-position-y: -480px;
  }
}
