:root{
    --firstColor: #293251;
    --secondColor: #fff;
    --fifthColor: #f4f9ff;
    --thirdColor: #f8d7da;
    --forthColor: #721c24;
}
* {
  font-family: "Rimouski";
}

body {
  background-color: var(--firstColor);
}

.container {
  width: 300px;
  background-color: var(--secondColor);

  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid var(--firstColor);
  box-shadow: 0px 0px 0px 1px var(--secondColor);

  border-radius: 10px;
  padding-bottom: 50px;
}

.app-title {
  width: 300px;
  height: 50px;
  border-radius: 10px 10px 0 0;
}

.app-title p {
  text-align: center;
  padding: 15px;
  margin: 0 auto;
  font-size: 1.2em;
  color: var(--firstColor);
}

.notification {
  background-color: var(--thirdColor);
  display: none;
}

.notification p {
  color: var(--forthColor);
  font-size: 1.2em;
  margin: 0;
  text-align: center;
  padding: 10px 0;
}

.weather-container {
  width: 300px;
  height: 260px;
  background-color: var(--fifthColor);
}

.weather-icon {
  width: 300px;
  height: 128px;
}

.weather-icon img {
  display: block;
  margin: 0 auto;
}

.temperature-value {
  width: 300px;
  height: 60px;
}

.temperature-value p {
  padding: 0;
  margin: 0;
  color: var(--firstColor);
  font-size: 4em;
  text-align: center;
  cursor: pointer;
}

.temperature-value span {
  color: var(--firstColor);
  font-size: 0.5em;
}

.temperature-description p {
  padding: 8px;
  margin: 0;
  color: var(--firstColor);
  text-align: center;
  font-size: 1.2em;
}

.location p {
  margin: 0;
  padding: 0;
  color: var(--firstColor);
  text-align: center;
  font-size: 0.8em;
}
