*{
  margin: 0;
  border: 0;
  outline: none;
  background: none;
  font-family: "Arvo", cursive;
  box-sizing: border-box;
}
body {
  text-align: center;
  background-color: #1f1f1f;
  height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 5rem;
  color: rgb(231, 230, 230);
}
.set {
  margin: 0  auto;
  height: 100%;
  padding:  50px;
  width:  800px;
  position: relative;
  background: url("images/drum.png") no-repeat;
  background-position: center bottom 15%;
}
.drum {
  display: inline-block;
  color: rgb(231, 230, 230);
  font-size: 3rem;
  position: absolute;
  font-family: "Arvo", cursive;
  width: 150px;
  height: 150px;
  text-align: center;
  cursor: pointer;
}
#w{
  top: 510px;
  left: 170px;
}
#a{
  top: 510px;
  right: 150px;
}
#s{
  top: 680px;
  left: 150px;
}
#d{
  top: 680px;
  right: 150px;
}
#j{
  top: 680px;
  left: 338px;
}
#k{
  top: 670px;
  right: 60px;
}
#l{
  top: 390px;
  left: 80px;
}
.home {
  text-decoration: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 10px 20px;
  background: #42f;
  color: #fff;
  border-radius: 10px 10px 0 0;
}
.home:hover {
  background: #52f;
}