body {
  height: 100vh;
  overflow: hidden;
  width: 100%;
  margin: 0;
  background: #759fbc;
}
.preview {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  flex-direction: row;
  margin: auto;
  width: 60%;
}
.scene {
  height: 200px;
  width: 200px;
  perspective: 400px;
  border: 1px solid #ccc;
}
.cube {
  height: 200%;
  position: relative;
  transform-style: preserve-3d;
  width: 100%;
  transform-origin: 50% 25%;
}
.cube_face {
  align-items: center;
  color: #fff;
  font-family: "Passion One", cursive;
  font-size: 2em;
  height: 200px;
  line-height: 200px;
  position: absolute;
  text-transform: uppercase;
  transform: translateZ(100px);
  text-align: center;
  width: 200px;
}
.front {
  background: hsla(0, 100%, 50%, 0.7);
  transform: rotateY(0deg) translateZ(100px);
}
.back {
  background: hsla(120, 100%, 50%, 0.7);
  transform: rotateY(180deg) translateZ(100px);
}
.right {
  background: hsla(60, 100%, 50%, 0.7);
  transform: rotateY(90deg) translateZ(100px);
}
.left {
  background: hsla(180, 100%, 50%, 0.7);
  transform: rotateY(-90deg) translateZ(100px);
}
.top {
  background: hsla(240, 100%, 50%, 0.7);
  transform: rotateX(90deg) translateZ(100px);
}
.bottom {
  background: hsla(300, 100%, 50%, 0.7);
  transform: rotateX(-90deg) translateZ(100px);
}

.change-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 15px 15px;
  grid-template-areas:
    "labelX inputX"
    "labelY inputY"
    "labelZ inputZ";
}
#labelX,
#inputX,
#labelY,
#inputY,
#labelZ,
#inputZ {
  color: #fff;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
}
#labelX {
  grid-area: labelX;
}
#inputX {
  grid-area: inputX;
}
#labelY {
  grid-area: labelY;
}
#inputY {
  grid-area: inputY;
}
#labelZ {
  grid-area: labelZ;
}
#inputZ {
  grid-area: inputZ;
}
.home {
  text-decoration: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 10px 20px;
  background: #42f;
  color: #fff;
  border-radius: 10px 10px 0 0;
}
.home:hover {
  background: #52f;
}