body {
  background-color: #f7ebe8;
  color: #1e1e24;
  font-family: "Redressed", cursive;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}
#container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: auto;
  width: 50%;
}
#pomodoroImg {
  position: fixed;
  top:  50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.grid-container {
  background-size: fill;
  height: 65%;
  width: 60%;
}
#work-timer,
#break-timer {
  align-items: center;
  color: #f7ebe8;
  flex-direction: row;
  font-size: 3em;
  position: relative;
  height: 20%;
  justify-content: center;
  top: 30%;
  left: 38%;
  width: 25%;
}
#work-timer {
  display: flex;
}
#break-timer {
  display: none;
}

.btnArea {
  align-items: center;
  display: flex;
  height: 12%;
  width: 400px;
  justify-content: space-evenly;
  position: relative;
  top: 35%;
  left:  50%;
  transform: translate(-50%, 0%);
  /* background: black; */
}
.btn {
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  color: #f7ebe8;
  display: flex;
  height: 100%;
  padding:  0 13px;
  font-size: 1.1em;
  justify-content: center;
  text-transform: uppercase;
  transition: 0.5s ease;
  width: 13%;
}
.btn:hover {
  background: rgba(240, 240, 240, .8);
  color: #252525;
}
#stop {
  margin-top: 20%;
}
.home {
  text-decoration: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 10px 20px;
  background: #42f;
  color: #fff;
  border-radius: 10px 10px 0 0;
}
.home:hover {
  background: #52f;
}
