* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
}
.center {
  position: absolute;
  position: relative;
  top: 50%;
  left: 50%;
//   overflow: hidden;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
}
.pulse {
  width: 400px;
  height: 400px;
  border-radius: 50%;


  display: flex;
  align-items: center;
  justify-content: center;
  background: #42f;
  transition: 10s;
  overflow: hidden;
  cursor: pointer;
  box-shadow: inset -10px 2px 10px rgba(116, 107, 214, 0.9);

  animation: animate 3s linear infinite;
}
.home {
  text-decoration: none;
  color: #fff;
  border-radius: 50%;
  font-size: 2rem;
  position: relative;
}
@keyframes animate {
  0% {
    box-shadow: inset -10px 2px 10px rgba(116, 107, 214, 0.9),
      0 0 0 0 rgba(30, 15, 192, 0.9);
  }
  40% {
    box-shadow: inset -10px 2px 10px rgba(116, 107, 214, 0.9),
      0 0 0 50px rgba(30, 15, 192, 0.2);
  }
  80% {
    box-shadow: inset -10px 2px 10px rgba(116, 107, 214, 0.9),
      0 0 0 100px rgba(30, 15, 192, 0);
  }
  100% {
    box-shadow: inset -10px 2px 10px rgba(116, 107, 214, 0.9),
      0 0 0 0 rgba(30, 15, 192, 0);
  }
}
