*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
	background: linear-gradient(40deg, #5433ff, #20bdff, #a5fecb);
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
}

h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 450px;
}

.circle {
	background-color: #fff;
	border-radius: 50%;
	cursor: pointer;
	margin: 8px;
	height: 14px;
	width: 14px;
	transition: transform 0.3s linear;
}

.circle.grow {
	transform: scale(2);
}
.home {
  text-decoration: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 10px 20px;
  background: #42f;
  color: #fff;
  border-radius: 10px 10px 0 0;
}
.home:hover {
  background: #52f;
}
