* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --colorBoxShadow: #4069ff;
  --planet: earth;
}
@mixin flex($align, $justify, $direction) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}
body {
  width: 100vw;
  height: 100vh;
  background-image: url(img/bg.jpg);
  background-size: cover;
  background-repeat: repeat no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.container {
  width: 60%;
  min-height: 100%;

  position: relative;
  margin: 0 auto;

  @include flex(center, space-around, column);

  h1 {
    font-weight: 600;
    font-size: 3rem;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
  }
  #planet {
    width: 380px;
    height: 380px;
    background: rgba(39, 38, 38, 0.357);
    background-image: url(img/earth.jpg);
    background-size: cover;
    background-repeat: repeat-x;
    border-radius: 50%;
    box-shadow: inset -15px -45px 60px 4px rgba(0, 0, 0, 1), 0 0 50px var(--colorBoxShadow);
    animation: rotate 15s linear infinite;
  }
  div {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    width: 60%;
    height: 100px;
    @include flex(center, space-around, row);
    input {
      display: none;
      &:checked + label {
        opacity: 1;
      }
    }
    label {
      text-transform: uppercase;
      width: 50px;
      @include flex(center, space-around, column);
      opacity: 0.3;
      color: #fff;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
      img {
        z-index: 2;
      }
    }
  }
}
.active {
  animation: smokeIn 1s linear forwards;
}
.desactive{
  animation: smokeOut 1s linear forwards;
}
@keyframes smokeIn {
  to {
    opacity: 0;
    filter: blur(20px);
    transform: translateX(300px) translateY(-300px) rotate(720deg) scale(4);
  }
}
@keyframes smokeOut {
  to {
    opacity: 1;
    filter: blur(0);
    transform: translateX(300px) translateY(-300px) rotate(720deg) scale(4);
  }
}
@keyframes rotate {
  to {
    background-position: -800px 0;
  }
}
.home {
  text-decoration: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 10px 20px;
  background: #42f;
  color: #fff;
  border-radius: 10px 10px 0 0;
}
.home:hover {
  background: #32f;
}