* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}
.container{
    position: relative;
    width: 100%;
    height: 100vh;
}
.container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: screen;
}
.ink{
    mix-blend-mode: screen;
    filter: brightness(2);
}
